@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Great+Vibes&family=Montserrat:wght@700&family=Raleway:wght@300&display=swap');

@font-face {
	font-family: 'Great Vibes', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Corinthia', cursive;
	src: url('https://fonts.googleapis.com/css2?family=Corinthia&family=Great+Vibes&family=Montserrat:wght@700&display=swap');
}

.App-header {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

p {
	color: #666;
	font-family: 'Raleway', sans-serif;
}
span {
	color: #666;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
h3 {
	color: #666;
	font-weight: 400;
}

.main-container-img {
	padding: 0 !important;
	position: relative;
}

.main-container-img img {
	width: 100%;
}

.div-content-img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5%;
	margin: auto;
	text-align: center;
	width: 100%;
}

.div-content-img h1 {
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-size: 78px;
}

.div-content-img h4 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.invited {
	position: relative;
	text-align: center;
}
.invited h2 {
	color: #666;
	font-family: 'Great Vibes', cursive;
	font-size: 65px;
	line-height: 60px;
	animation: bounce2 0.5s alternate infinite ease-in;
}
.invited p {
	padding: 0 30px;
}

@-webkit-keyframes bounce2 {
	0% {
		transform: translateY(-10%);
	}

	100% {
		opacity: translateY(0%);
	}
}
@keyframes bounce2 {
	0% {
		transform: translateY(-10%);
	}

	100% {
		opacity: translateY(0%);
	}
}

.img02-background {
	background: url('./assets/img02.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 145px;
	width: 100%;
}
.img03-background {
	background: url('./assets/img06.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 100%;
}
.ceremony {
	background: url('./assets/img03.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 8%;
	margin-right: auto;
	margin-left: auto;
}
.reception {
	background: url('./assets/img04.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}
.dresscode {
	background: url('./assets/img05.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}
.gift {
	background: url('./assets/img14.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}
.count {
	align-items: center;
	display: flex;
	justify-content: center;
}
.count div {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.count div span {
	background: #ca9d42;
	border-radius: 20px;
	color: #fff;
	font-size: 20px;
	padding: 5px 8px 5px 8px;
}
.count div p {
	margin-top: 10px;
	font-size: 14px;
}
.form-label,
.form-check-label {
	color: #666 !important;
}
.btn-primary,
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
	background-color: #ca9d42;
	border-color: #ca9d42;
	width: 100%;
}

.text-header h2 {
	color: #666;
	font-family: 'Great Vibes', cursive;
	font-size: 46px;
	text-align: center;
}
.text-header h4 {
	color: #666;
	font-family: 'Corinthia', cursive;
	font-size: 30px;
}
.text-header {
	text-align: center;
}

.form-label,
.form-check-label {
	color: #000;
}
svg {
	margin-left: 6px;
}
.invalid {
	color: #dc3545;
	font-size: 0.875em;
}

.text-ceremony,
.text-reception,
.text-dresscode,
.text-us,
.text-gift {
	text-align: center;
	color: #666;
}
.pr-0 {
	border-right: 2px solid #ca9d42;
}
.pm {
	font-weight: 100;
	font-size: 22px;
}
.place-address {
	padding: 0 20px;
}
.title-ceremony,
.title-celebration,
.title-dresscode,
.title-us,
.title-gift {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.ubication-btn {
	align-items: center;
	display: flex;
	justify-content: center;
}
.ubication-btn a {
	text-decoration: none;
	color: #fff;
	background: #ca9d42;
	padding: 7px 10px;
	border-radius: 5px;
}
.ubication-btn a:hover {
	color: #fff;
}

.btn-gift .accordion-button {
	align-items: center;
	background: #ca9d42;
	color: #fff;
	display: flex;
	justify-content: center;
}
.btn-gift .accordion-button::after {
	display: none;
}
.btn-gift .accordion-button:not(.collapsed) {
	color: #fff;
	background: #ca9d42;
}
.btn-gift .accordion-button:focus {
	border-color: #ca9d42;
	box-shadow: none;
}
.accordion-item {
	border: none !important;
}
.swal-button.swal-button--confirm {
	background-color: #ca9d42;
}
.swal-button:not([disabled]):hover {
	background-color: #ca9d42;
}

.mySwiper {
	width: 300px;
	height: 300px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
}

.swiper-slide img {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
	height: 10px;
	width: 10px;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background-color: #ca9d42;
}

@media (min-width: 768px) {
	.img03-background {
		display: none;
	}
	.text-gift p {
		padding: 0 30px;
	}
}
